<div class="row-fluid">	
				<div class="stats-date span3">
					<div>Infracciones de velocidad</div>
					<div class="range">2011 - 2013</div>
				</div>
			</div>	

			<div class="row-fluid">
				<div id="speedInf" class="span12" style="height:300px;overflow:hidden;"></div>
			</div>
			
	
			<hr />
		
			<div class="row-fluid">
				
				<div class="widget span12" ontablet="span12" ondesktop="span12">
					<h2>Por Region</h2>
					<hr />
					<div class="content">
						<div id="speedInfReg" ng-controller="RegionCtrl" style="height:900px;overflow:hidden;"></div>
					</div>
				</div><!--/span-->
			
			</div>
